<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCErg_XPZvjF6_3CpDn-5GtJsMf5x4q8Vg</string>
	<key>GCM_SENDER_ID</key>
	<string>845002287235</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.khamhti.uberclone</string>
	<key>PROJECT_ID</key>
	<string>uberclone-d28d4</string>
	<key>STORAGE_BUCKET</key>
	<string>uberclone-d28d4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845002287235:ios:e802353a8aadc6004b93b6</string>
</dict>
</plist>